@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Caveat:wght@400;500;600;700&family=DM+Serif+Text:ital@0;1&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Outfit:wght@100;200;300;400;500;600;700;800;900&family=Oxygen:wght@300;400;700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
font-family: 'outfit', sans-serif;
margin: 0;
padding: 0;
box-sizing:border-box;
}

html,body{
    background: #ececec;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
}

.s1{
    width: 50vw;
    height: 70vh;
    box-shadow:  0.8em 0.8em 1.4em #00000013, -0.6em -0.6em 1.4em #ffffff80;
    margin: 0 auto;
    border-radius: 2em;
}

.h1{
    text-align: center;
    font-size: 2em;
    margin-top: 1.5em;
}

.instructions{
    text-align: center;
    margin-bottom: 2.5em;
    color: #00000070;
}

input{
    border: none;
    outline: none;
}
#length-input{
height: 2px;
    width: 50%;

}

input[type=range]::-webkit-slider-thumb{
    -webkit-appearance: none;
    margin-top: 0px;
    box-shadow: 1px 1px 1px #00000000;
}

.how-long{
    text-align: center;
}

.number-input{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

.btns-section{
    width: 100%;
    height: 35%;
    display: grid;
    grid-template-columns: 1fr 1fr;

}

.btns{
    width: 80%;
    height: 70%;
    justify-self: center;
    align-self: center;
    border-radius: 5em;
    box-shadow:  0.8em 0.8em 1.4em #00000013, -0.6em -0.6em 1.4em #ffffff90;
    transition: 0.3s ease;
    font-size: 1.3em;
    color: #00000080;
}
.btns:hover{
    color: white;
background: #00000090;
}

#submit{
    width: 80%;
    height: 4em;
margin: 0 auto;
    border-radius: 5em;
    box-shadow:  0.8em 0.8em 1.4em #00000013, -0.6em -0.6em 1.4em #ffffff;
    transition: 0.2s ease;
    font-size: 1.3em;
    color: #00000080; 
    cursor: pointer;
}
#submit:hover{
    color: black;
}

.submit-area{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}

.pin{
    text-align: center;
    font-size: 2em;
    margin-top: 2em;
}